* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 50px;
}

.container {
  display: grid;
  gap: 5px;
}

/* header */

.header {
  display: grid;
  grid-template-areas:
    "header header feature1"
    "header header feature2";

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero {
  grid-area: header;
  background-image: url(img/hero.jpg);
  background-size: cover;
  min-height: 300px;
  background-position: center;
  padding: 50px;
  box-sizing: border;
}

.hero > * {
  display: none;
}

.features {
  color: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature1 {
  grid-area: feature1;
  background-image: url(img/model1.jpg);
  background-size: cover;
  background-position: center;
}

.features .price {
  font-weight: bold;
  font-size: 3em;
}

.feature2 {
  grid-area: feature2;
  background-image: url(img/model2.jpg);
  background-size: cover;
  background-position: center;
}

/* navigation */

.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-weight: bold;
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
  gap: 5px;
}

.menu a {
  background-color: black;
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.menu a:hover {
  color: rgb(0, 254, 0);
}

/* services */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  font-size: 0.8em;
  gap: 10px;
}

.service {
  text-align: center;
  background-color: white;
  border: 2px solid rgb(205, 205, 205);
  border-radius: 5px;
}

.service .icon {
  font-size: 5em;
}

.service .subtitle {
  font-size: 0.85em;
}

/* gallery */

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}

.gallery .title {
  font-size: 2em;
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 10px;
}

/* responsive breakpoints */

@media screen and (max-width: 1024px) {
  .menu {
    order: 1;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    padding: 7px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .services {
    order: 2;
  }

  .gallery {
    order: 3;
  }
}

@media screen and (max-width: 768px) {
  /* tablet menu hamburger skip Javascript error */
}

@media screen and (max-width: 600px) {
  body {
    margin: 20px;
  }

  .header {
    grid-template-areas:
      "header"
      "feature1"
      "feature2";
    gap: 5px;
  }
}
